<div class="banner" *ngIf="info">
    <img src="{{info.banner}}" id="banner">
    <div id="tipeo">
      <span id="listado">
        <h1 class="p1">EVELYN LUCCA</h1>
        <h3 class="p2">FULLSTACK Jr.</h3>
        <!-- <h1 class="p1">{{info.nombre}} {{info.apellido}}</h1>
        <h3 class="p2">{{info.titulo}}</h3> -->
    </span>
      <ngx-typed-js class="efectoEscritura" [stringsElement]="'#listado'" [startDelay]="1000" [showCursor]="true" [typeSpeed]="120" [backSpeed]="120" [loop]="true" [smartBackspace]="true">
        <span style="color:rgb(255, 0, 106); font-size:30px" class="typing"></span>
      </ngx-typed-js>
    </div>
</div>
