.banner{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;

}

#tipeo{
  position: absolute;
  display: flex;
  z-index: 99;
  bottom: -100px;
  right: 30px;
}


@media(max-width:575px){
  .banner{
    height: 50vh;
  }
}
