<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="institucion">Institucion</label>
          <input ngModel="{{formToSend.institucionEdu}}" type="text" class="form-control" id="institucion" name="institucionEdu" (keyup)="handleChange($event)" required>
        </div>
        <div class="form-group">
          <label for="anoInicio">Año de inicio</label>
          <input ngModel="{{formToSend.anoInicioEdu}}" type="text" class="form-control" id="anoInicio" name="anoInicioEdu" (keyup)="handleChange($event)" required>
        </div>
        <div class="form-group">
          <label for="anoFin">Año de finalización</label>
          <input ngModel="{{formToSend.anoFinEdu}}" type="text" class="form-control" id="anoFin" name="anoFinEdu" (keyup)="handleChange($event)" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Título</label>
          <input ngModel="{{formToSend.tituloEdu}}" type="text" class="form-control" id="titulo" name="tituloEdu" (keyup)="handleChange($event)" required>
        </div>
        <button class="btn btn-primary">
            Editar educacion
        </button>
      </form>
    </div>
  </div>
</div>
