<div class="row" id="encabezado">
  <h1>Educación</h1>
  <div id="boton_agregar" class="col-lg-2 col-md-2 col-sm-2">
    <a [routerLink]="['/nuevaedu']">
      <button
        type="button"
        class="btn btn-info"
        *ngIf="isLogged">
          <i class="bi bi-person-plus-fill">
            AGREGAR
          </i>
      </button>
    </a>
  </div>

  <!-- <div class="col-lg-1 col-md-1 col-sm-1"></div>
  <div class="col-lg-11 col-md-11 col-sm-11">
    <table class="table col-lg-11 col-md-11 col-sm-11 col-xs-11">
      <tbody class= "col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <tr *ngFor="let Educacion of educacion" class="educacion_container">
          <td class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <h2 id="nombre_institucion">{{Educacion.institucionEdu}}</h2>
          </td>
          <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{ Educacion.tituloEdu }}</td>
          <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{ Educacion.anoInicioEdu }}</td>
          <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{ Educacion.anoFinEdu }}</td>

          <div class="buttons" style="background-color: transparent;">
            <td *ngIf="isLogged" class="btn-edit">
              <a [routerLink]="['/editedu/' + Educacion.idEdu]">
                <button
                  class="btn btn-light "
                >
                  <i class="bi bi-pencil-fill"></i>
                  <p class="button_text">EDITAR</p>
                </button>
              </a>
            </td>


            <td *ngIf="isLogged" class="btn-delete">
              <button class="btn btn-danger" (click)="delete(Educacion.idEdu)">
                <i class="bi bi-trash-fill"></i>
                <p class="button_text">BORRAR</p>
              </button>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div id="contenedor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
  <table id="tabla" class="table col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <thead>
      <tr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <th class="col col-lg-4 col-md-4 ">Institución Educativa</th>
        <th class="col col-lg-2 col-md-2 col-sm-12 col-xs-12">Año Inicio</th>
        <th class="col col-lg-2 col-md-2 col-sm-12 col-xs-12">Año Fin</th>
        <th class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">Terminología</th>
      </tr>
    </thead>
    <tbody *ngFor="let Educacion of educacion" class="educacion_container">
      <tr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <td class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">{{Educacion.institucionEdu}}</td>
        <td class="col col-lg-2 col-md-2 col-sm-12 col-xs-12">{{Educacion.anoInicioEdu }}</td>
        <td class="col col-lg-2 col-md-2 col-sm-12 col-xs-12">{{Educacion.anoFinEdu }}</td>
        <td class="col col-lg-3 col-md-3 col-sm-12 col-xs-12">{{Educacion.tituloEdu }}</td>
        <td *ngIf="isLogged" class="btn-edit">
          <a [routerLink]="['/editedu/' + Educacion.idEdu]">
            <button
              class="btn btn-light"
            >
              <i class="bi bi-pencil-fill"></i>
              <p class="button_text">EDITAR</p>
            </button>
          </a>
        </td>
        <td *ngIf="isLogged" class="btn-delete">
          <button class="btn btn-danger" (click)="delete(Educacion.idEdu)">
            <i class="bi bi-trash-fill"></i>
            <p class="button_text">BORRAR</p>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>







