#encabezado {
  width: 100%;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

div {
  background-color: #211C66;
}

h1, h3 {
  display: inline;
  align-items: center;
  justify-content: center;
}

#boton_agregar {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nombre_institucion {
  padding: 0;
  margin: 0;
}

.buttons {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  right: 20px;
}

.button_text {
  display: none;
}

#contenedor {
padding: 20px;
}

#tabla {
  color: white;
  padding: 20px;
}

th {
  text-transform: uppercase;
}

@media(max-width:575px){
  .buttons{
    bottom: 0;
  }

  .button_text{
    display: none;
  }

  .educacion_container{
    position: relative;
  }
}


