.gradient-custom {
    /* fallback for old browsers */
    background: #C949E2;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,#C949E2,#6D308A,#44235D,#6D308A,#C949E2);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#C949E2,#6D308A,#44235D,#6D308A,#C949E2)
    }
