<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>

        <div class="redes">
          <ul>
            <li><a href="https://www.linkedin.com/in/evelyn-lucca-250549249/"><img src="../../../assets/linkedin.png" id="linkedin"></a></li>
            <li><a href="https://www.instagram.com/evelanegrasoy/?hl=es"><img src="../../../assets/instagram.png" id="instagram"></a></li>
            <li><a href="https://github.com/EVELYNLUCCA"><img src="../../../assets/github.png" id="github"></a></li>
            <li><a href="https://www.facebook.com/eve.lanegra/"><img src="../../../assets/facebook.png" id="facebook"></a></li>
          </ul>

          <button
            type="button"
            class="btn btn-outline-light"
            (click) ="login()"
            *ngIf="!isLogged"
          >
            INGRESAR
          </button>

          <button
            type="button"
            class="btn btn-outline-light"
            (click) ="onLogOut()"
            *ngIf="isLogged"
          >
            CERRAR SESIÓN
          </button>
        </div>
    </div>
</div>



