<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <a [routerLink]="['/nuevaskill']">
      <button
        type="button"
        class="btn btn-dark"
        *ngIf="isLogged"
      >
        Agregar skill
      </button>
    </a>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1"></div>
  <div class="col-lg-11 col-md-11 col-sm-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let skill of skills">
          <circle-progress
          [radius]="100"
          [title]="skill.nombreSkill"
          [titleColor]="'#a1b5cb'"
          [titleFontSize]="'2.3em'"
          [showSubtitle]="false"
          [percent]="skill.porcentajeSkill"
            [imageSrc]="skill.imgSkill"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>

          <div class="buttons">
            <td *ngIf="isLogged" class="btn-edit">
              <a [routerLink]="['/editskill/' + skill.idSkill]">
                <button
                  class="btn btn-light "
                >
                  <i class="bi bi-pencil-fill"></i>EDITAR
                </button>
              </a>
            </td>

            <!--ícono lápiz video 16, 1:35'-->
            <td *ngIf="isLogged" class="btn-delete">
              <button class="btn btn-danger" (click)="delete(skill.idSkill)">
                <i class="bi bi-trash-fill"></i>BORRAR
              </button>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="row">
    <h1></h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'CSS 3'"
            [titleColor]="'#4189d6'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/css 3.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="github"
            [percent]="60"
            [radius]="100"
            [title]="'JAVASCRIPT'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/javascript.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="20"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/github 1.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/inglés.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/trabajo colaborativo grupal.png'"
                        [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
</div> -->
