<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/html5.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'CSS 3'"
            [titleColor]="'#4189d6'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/css 3.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress class="github"
            [percent]="60"
            [radius]="100"
            [title]="'JAVASCRIPT'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/javascript.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="20"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/github 1.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/inglés.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#a1b5cb'"
            [titleFontSize]="'2.3em'"
            [showSubtitle]="false"
            [imageSrc]="'../../assets/trabajo colaborativo grupal.png'"
                        [imageWidth]="100"
            [showImage]="true"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeColor]="'#4189d6'"
            [innerStrokeColor]="'black'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
</div>
