<div class="container">
  <div class="row">
    <div>
      <form novalidate #f="ngForm">
        <div class="form-group">
          <div class="form-group">
            <label for="banner">Banner</label>
            <input type="text" class="form-control" id="banner" name="banner" [(ngModel)]="info.banner" required>
          </div>
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="info.nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido"  [(ngModel)]="info.apellido" required>
        </div>
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="info.titulo" required>
        </div>
        <div class="form-group">
          <label for="acercaDeMi">Acerca de mí</label>
          <textarea type="text" class="form-control" id="acercaDeMi" name="acercaDeMi" [(ngModel)]="info.acercaDeMi" required></textarea>
        </div>
        <div class="form-group">
          <label for="fotoPerfil">Foto de perfil</label>
          <input type="text" class="form-control" id="fotoPerfil" name="fotoPerfil" [(ngModel)]="info.fotoPerfil" required>
        </div>

        <button class="btn btn-primary" (click)="crearInfo()">
            CREAR
        </button>
      </form>
    </div>
  </div>
</div>
