.row{
    padding: 20px;
    margin:0;
}
div{
    background-color: #a1b1cb;
}
h1, h3{
    display: inline;
}

.buttons{
  position: absolute;
  display: flex;
  width: 200px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  right: 20px;
  content: "";
  font-size: 10px;
  background: none;
}

@media(max-width:575px){
  .buttons{
  }
}
