#encabezado{
  width: 100%;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

div{
    background-color: #211C66;
}

h1, h3{
    display: inherit;
    align-items: center;
    justify-content: center;
}

#boton_agregar{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#contenedor {
  padding: 20px;
  }

  #tabla {
    color: white;
    padding: 20px;
  }

  th{
    text-transform: uppercase;
  }

.buttons{
  position: absolute;
  display: flex;
  width: 200px;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  right: 20px;
  content: "";
  font-size: 10px;
  background: none;
}

@media(max-width:575px){
  .btn-delete, .btn-edit{
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
  }

  .btn-delete{
    bottom: 0;
    right: 50px;
  }

  #contenedor{
    padding: 0;
  }

  #encabezado{
    padding: 0;
  }
}
