#encabezado {
    width: 100%;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    background-color:#211C66 ;
  }

/*.contenedor{
    width: auto;
}*/

#boton_agregar {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#datos{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#datos #contenido{
  width: 100%;
  display: flex;
  flex-direction: column;
}

#datos #contenido h3, #datos #contenido p, #datos #contenido a{
  width: 100%;
}

#datos #contenido h3 {
  margin: 0;
  text-transform: uppercase;
}

#datos #contenido a{
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 500;
}

#img img {
  width: 100%;
  padding: 20px;
  object-fit: contain;
}
/*.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px  #000000;
}

.button{
  display: none;
}*/


@media(max-width:575px){
  .proyecto_div{
    display: flex;
    margin-top: 60px;
  }

  .parte1{
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .img-proyecto{
    position: relative;
    width: 40%;
    width: 100px;
    box-shadow: 2px 2px 3px #00000080;
  }

  .flex-column{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .flex-column td img {
    padding: 0;
  }
}
