<div class="row" id="encabezado">
    <h1>Proyectos realizados</h1>
    <div id="boton_agregar" class="col-lg-2 col-md-2 col-sm-2">
      <a [routerLink]="['/nuevoproyecto']">
        <button
        type="button"
        class="btn btn-info"
        *ngIf="isLogged"
      ><i class="bi bi-person-plus-fill"></i>
        AGREGAR
      </button>
      </a>
    </div>

    <!-- <div class="contenedor">
        <div class="proyecto_div" *ngFor="let proyecto of proyectos">
          <div class="col-sm-12 col-md-7 col-lg-7 parte1">
              <h3>{{proyecto.nombreProyecto}}</h3>
              <p>{{proyecto.descripcion}}</p>

              <td *ngIf="isLogged">
                <a [routerLink]="['/editproyecto/'+ proyecto.idProy]">
                  <button
                    class="btn btn-light"
                  >
                    <i class="bi bi-pencil-fill"></i>
                    <p class="button">EDITAR</p>
                  </button>
                </a>
              </td>


              <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="deleteProyecto(proyecto.idProy)">
                  <i class="bi bi-trash-fill"></i>
                  <p class="button">BORRAR</p>
                </button>
              </td>
          </div>

          <a href="{{proyecto.url}}" class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
              <img src="{{proyecto.fotoProyecto}}" class="img-fluid img-proyecto">
          </a>
        </div>
    </div>
</div> -->

<div *ngFor="let proyecto of proyectos">
  <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <tbody class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-column">
      <td id="datos" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div id="contenido">
          <h3>{{proyecto.nombreProyecto}}</h3>
          <p>{{proyecto.descripcion}}</p>
          <a href="{{proyecto.url}}">Visitalo</a>
        </div>
      </td>
      <td id="img" class="col col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <img src="{{proyecto.fotoProyecto}}" class="col-lg-5 col-md-5 col-sm-5 col-xs-5" id="img-proyecto">
      </td>
      <td id="botones" *ngIf="isLogged">
        <a [routerLink]="['/editproyecto/'+ proyecto.idProy]">
          <button class="btn btn-light">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </a>
        <button class="btn btn-danger" (click)="deleteProyecto(proyecto.idProy)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </tbody>
  </table>
</div>
