<div class="row" id="encabezado" *ngIf="info">
  <div class="container" id="foto" *ngIf="info">
    <img src="{{info.fotoPerfil}}" alt="" class="img-fluid" id="foto-perfil"/>
  </div>
  <div id="contenedor">
    <h1>Acerca de mi</h1>
    <div id="boton_agregar" class="col-lg-2 col-md-2 col-sm-2">
    <a [routerLink]="['/nuevapersona']">
      <button
      type="button"
      class="btn btn-info"
      *ngIf="isLogged"
    ><i class="bi bi-person-plus-fill"></i>
      AGREGAR
    </button>
    </a>
    </div>
  </div>


  <div id="texto">
  <div id="descripcion" class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>{{info.acercaDeMi}}</p>
  </div>
  </div>
  <div id="EB" *ngIf="isLogged && info">
    <a id="E" [routerLink]="['/editinfo/'+ info.id]">
      <button class="btn btn-light">
        <i class="bi bi-pencil-fill"></i>
      </button>
    </a>
    <button id="B" class="btn btn-danger" (click)="deletePersona(info.id)">
      <i class="bi bi-trash-fill"></i>
    </button>
  </div>
</div>
