.row{
    padding: 20px;
    margin: 0;
}

div{
    background-color: #a1b5cb;
    text-align: center;
    position: relative;
}

.row div #foto-perfil{
    position: absolute;
    bottom: 0;
    width: 200px;
    z-index: 999;
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
    left: 3%;
}

@media(max-width:575px){
  .acerca_de_container{
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
  }

  .acerca_de_container div #foto-perfil{
    position: absolute;
    max-width: 130px;
    height: 130px;
    align-self: center;
    left: 0%;
    top: -100px;
  }
}


#nombre{
    font-weight: bold;
    margin-top: 30%;
}

.acerca_de_container{
  display: flex;
}

#info_usuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#info_usuario p{
  margin: 0;
}
