<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/eve foto - copia.jpg" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Evelyn Paola Lucca</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus iusto odio ipsa culpa porro quia nam aliquam, minus, doloremque ducimus ex. Officiis molestias, inventore laboriosam dicta unde maiores iure obcaecati.</p>
        </span>
    </div>
</div>
