<div class="container">
  <div class="row">
    <div>
      <form novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="infoEditada.nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido"  [(ngModel)]="infoEditada.apellido" required>
        </div>
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="infoEditada.titulo" required>
        </div>
        <div class="form-group">
          <label for="acerca de mi">Acerca de mí</label>
          <input type="text" class="form-control" id="acerca de mi" name="acerca de mi" [(ngModel)]="infoEditada.acercaDeMi" required>
        </div>
        <div class="form-group">
          <label for="foto perfil">Foto de perfil</label>
          <input type="text" class="form-control" id="foto perfil" name="foto perfil" [(ngModel)]="infoEditada.fotoPerfil" required>
        </div>

        <button class="btn btn-primary" (click)="editarInfo()">
            EDITAR
        </button>
      </form>
    </div>
  </div>
</div>
