<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="empresa">Empresa</label>
          <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel="empresa" required>
        </div>
        <div class="form-group">
          <label for="anoInicio">Año de inicio</label>
          <input type="text" class="form-control" id="anoInicio" name="anoInicio" [(ngModel="anoInicio" required>
        </div>
        <div class="form-group">
          <label for="anoFin">Año de finalización</label>
          <input type="text" class="form-control" id="anoFin" name="anoFin" [(ngModel="anoFin" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción de la tarea</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel="descripcion" required>
        </div>
        <button class="btn btn-primary">
            Agregar experiencia
        </button>
      </form>
    </div>
  </div>
</div>
